#newsData{
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

}
.authors{
    font-style: italic;
    font-family: monospace;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 20px;
    color: rgba(33, 31, 31, 0.982);
    text-align: left;
    padding-left: 180px;
    margin-bottom: 20px;

}
.titleName{
    font-size: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px 120px 10px 120px;

}
.contents{
    font-size: 25px;
    margin: 10px auto;
    letter-spacing: .2px;
    text-align: center;
    overflow: auto;
    max-width: 1000px;
}
.images{

   
   max-width: 80%;
   height : 800px;
   width : 1500px;
   margin: 50px 0;



}